@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@300&display=swap');
.contriner{
  font-family: 'Rubik', sans-serif;
font-size: x-large;
}
.Image {
  position: relative;
  height: 90vh;
}

.Image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/hotel2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.4; 
  z-index: -1; 
}
